* {
    text-decoration: none;
}

html, body {
    margin: 0;
    background-color: #FFFFEF;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdfbe8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.logo a {
    font-family: 'Baloo';
    font-size: 50px;
    color: #2E7D32;
}

.dashboard li {
    list-style: none;
    display: inline-block;
}

/* Apply margin only to list items that are not the last child */
.dashboard li:not(:last-child) {
    margin-right: 150px; 
}

li a {
    font-family: 'Baloo';
    font-weight: bold;
    color:#2E7D32;
    font-size: 18px;
    margin-right: 25px;
    
}

.my_cover {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 180px;
    position: relative;
}

.search {
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
    background-color: white; /* Optional: Add background color to the search bar */
    border-radius: 28px; /* Optional: Add border radius for rounded corners */
    padding: 10px; /* Optional: Add padding inside the search bar */
    border: 1px solid black; /* Add border with desired width, style, and color */
}

.material-symbols-outlined.search-icon {
    padding-left: 10px;
    font-size: 30px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
    padding-left: 20px;
}

.searchbar {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    border: none;
    outline: none;
    width: 700px;
}

/* Categories */
.categories {
    position : relative;
    top: 55px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.category {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.resto-box-wrappers{
    display: flex;  
    flex-direction: row;
    width:80%;
    flex-wrap: wrap;
    gap: 30px;
    margin: 100px auto ;
}

.resto-img{
position: relative;
width: 300px;
height: 256px;
border-radius: 25px;
}

.restaurants{
display:flex;
flex-direction: column;
position: relative;
align-items: center;
justify-content: center;
margin:auto -25px;
margin-left: 20px;
width: 350.93px; /* 350.93px*/
height: 429px;

    
}

.restaurants:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.resto-text{
position: relative;
width: 300px;
height: 100px;
margin-top:-20px;
background: #FFFFFF;
border-radius: 25px;

}
.filler{
position: relative;
width: 300px;
height: 20px;
margin-top:-30px;
background: #FFFFFF;

}
.resto-title{

font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 54px;
margin-top:-5px;
margin-left:10px;
color: #067D0C;

text-shadow: 0px 3px 4px rgba(129, 199, 132, 0.75);

}
.resto-category{

font-family: 'Baloo+2';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
margin-top: -40px;
margin-left:10px;
color: #000000;
font-family: 'Lexend', sans-serif;

}

.button img{
    height :10%;
    width:10%;
    object-fit: cover;
    color:#2E7D32;

}
#left{
    transform:scaleX(-1);
}
.button
{   
    border:none;
    background:none;
    outline:none;
    margin:auto;
}

.category-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.category-row2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 31.5px;
    margin-top: 5px;
}
.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.category-name h3{
    font-family: 'Baloo+2';
    font-size: 15px;
    font-weight: 500;
    color: black;
    font-family: 'Lexend', sans-serif;

}
.category-name{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin-right:2px;
    
}

.restaurants h2 {
    font-size: 23px;
}

#loginframe {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 40px;
}

.loginframe-content{
    display: flex;
    height:100%;
    border-radius: 40px;
}

#loginframe_left{
    flex:685;
    width:100%;
    height:100%;
    z-index: 1002;
    background-color: #CDDECB;
}

#loginframe_right{
    background-image:url('images/login.png');
    background-size: cover;
    flex:767;
    width:100%;
    height: 100%;
    z-index: 1002;
}

#closeLogin{
    position:absolute;
    top:0;
    right: 0;
}

#filter {
    width: 40px;
    height: 40px;
    position: relative;
    float: right;
}
.dashboard li button{
    font-family: 'Baloo';
    font-weight: bold;
    color:#2E7D32;
    font-size: 18px;
    margin-right: 25px;
    background-color: #FFFFEF;
    border: none;
    outline: none;
    cursor: pointer;
}
