* {
    text-decoration: none;
}

html, body {
    margin: 0;
    background-color: #F7FFF6;
}

.navbar {
    background: #FFFFEF;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
}

.logo a {
    font-family: 'Baloo';
    font-size: 35px;
    color: #2E7D32;
}

.dashboard li {
    list-style: none;
    display: inline-block;
}

/* Apply margin only to list items that are not the last child */
.dashboard li:not(:last-child) {
    margin-right: 150px; 
}

li a {
    font-family: 'Funnel Display';
    font-weight: bold;
    color:#2E7D32;
    font-size: 18px;
    margin-right: 25px;   
}

.my_cover {
    width: 100%;
    height: 113px;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 150px;
    position: relative;
}

#star{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; /* Makes it clear it's clickable */
    margin-left: 20px;
}

.classheader{
    display: flex;
}

.classheader p{
    position: relative;
    left: -17%;
    margin-top: 0.5%;
}
